/*----------
    RESET
----------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------
    TYPOGRAPHY
-----------------*/
body{
    font-family: 'PT Sans', sans-serif;
}

/*-------------
    UTILITY
--------------*/
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;   
    margin-right: -10px;
}

.col{
    padding: 0 10px;
}

img{
    width: 100%;
}

.link{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 20px;
}

.link li > * {
    text-decoration: none;
    color: white;
}

.button{
    background-color: white;
    padding: 10px;
    color: black;
    border: none;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    font-family: inherit;
}

.col{
    padding: 0 10px;
}

/*-------------
    HEADER
--------------*/

header{
    background-color: #0084FD;
    padding: 15px 0px;
    color: white;
}

header .row{
    justify-content: space-between;
}

.header-right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-bars{
    font-size: 2rem;
    display: none;
}

/*---------------
    RESPONSIVE
-----------------*/
/* da 0 a 992px */
@media screen and (max-width: 992px){
    
    header .header-right {
        display: none;
    }
    
    header .menu-bars{
        display: block;
    }
}

/* da 0 a 768px */
@media screen and (max-width: 768px){
    
}