/*----------
    RESET
----------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------
    TYPOGRAPHY
-----------------*/
body{
    font-family: 'PT Sans', sans-serif;
}

/*-------------
    UTILITY
--------------*/
.container-large{
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.container-small{
    max-width: 1080px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;   
    margin-right: -10px;
}

.col{
    padding: 0 10px;
}

img{
    max-width: 100%;
}

.link{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 20px;
}

.link li > * {
    text-decoration: none;
    color: white;
}

.button{
    background-color: white;
    padding: 10px;
    color: black;
    border: none;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    font-family: inherit;
}

button:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.col{
    padding: 0 10px;
}

.grow{
    flex-grow: 1;
}

.card{
    height: 100%;
    border-radius: 18px;
    display: flex;
    padding: 25px 20px;
    line-height: 1.5;
}


/*-------------
    HEADER
--------------*/

header{
    background-color: #0084FD;
    padding: 15px 0px;
    color: white;
}

header .row{
    justify-content: space-between;
}

.header-right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-bars{
    font-size: 2rem;
    display: none;
}

.partner img, .about-us img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    flex-shrink: 0;
}


/*-------------------
    INTRO SECTION
---------------------*/

#intro-sctn{
    margin: 50px;
}

.intro .col{
    width: calc(100% / 3);
    margin-bottom: 20px;
}

.intro .card{
    background-color: #B5DDFF;
    font-weight: bold;
    color: #5A6E7F;
}

.intro .col-large{
    padding-bottom: 0;
    padding-top: 30px;
}

.intro .card-txt{
    display: flex;
    flex-direction: column;
    align-items: last baseline;
    align-self: baseline;
    gap: 30px;
    text-align: left;
    padding-top: 16px;
}

.intro h3,.icon{
    color: #0084FD;
}

.intro .card-img{
    padding: 0 40px;
    align-self: flex-end;
}

.card-img img{
    max-width: 250px;
    display: block;
}

.intro .button{
    background-color: #0084FD;
    color: white;
    padding: 15px 60px;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 4px;
}

.intro .icon{
    font-size: 100px;
    color: #0084FD;
}

.intro .card:not(.direction-row){
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

/*-------------------
    PLANNING SECTION
---------------------*/
#planning-sctn{
    background-color: #9792E4;
    padding-top: 90px;
    padding-bottom: 50px;
}

.planning .row{
    justify-content: center;
    align-items: end;
    gap: 30px;
}

.planning .col {
    width: 30%;
}


.planning-left .card{
    flex-direction: column;
    color: white;
    gap: 30px;
}

.planning-left .planning-left-img{
    margin-bottom: 80px;
}

.planning-card{
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    text-align: center;
    gap: 12px;
}

.planning-btn{
    background-color: #9792E4;
    height: 40px;
    width: 40px;
    color: black;
    border-radius: 100px;
    text-align: center;
    line-height: 20px;
    padding: 10px;
}

/*--------------------
    PARTNER SECTION
----------------------*/

.partner .row{
    margin-top: 60px;
}

.partner-title{
    text-align: center;
    gap: 30px;
}

.partner-title h1{
    font-size: 40px;
    color: #9792E4;
    margin: 20px;
}

.partner .card{
    background-color: #9792E4 ;
    border-radius: 46px;
    margin: 30px 0px;
    gap: 20px;
}

.partner .col-left{
    width: 20%;
}

.partner .col-right{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    color: white;
}

/*---------------------
    BENEFITS SECTION
-----------------------*/
#benefits-sctn{
    background-color: #9792E4;
}

.benefits .benefits-title{
    padding: 50px;
    justify-content: center;
}

.benefits .benefits-title > h1{
    font-size: 40px;
    color: white;
}

.benefits .bottom-row{
    margin-top: 30px;
    margin-bottom: 50px;
}

.benefits .col{
    width: calc(100% / 3);
    margin: 20px 0;
}

.benefits .card{
    background-color: #FFFFFF;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.benefits h1, .benefits h2{
    color: #9792E4;
    font-weight: bold;
}

.benefits .card h1{
    font-size: 50px;
}

.benefits-btn{
    color: white;
    font-weight: bold;
    background-color: #9792E4;
    letter-spacing: 3px;
    padding: 8px 40px;
}

/*--------------------
    ABOUT US SECTION
----------------------*/

#about-us-sctn .col-left{
    width: 70%;
}

#about-us-sctn .col-right{
    width: 30%;
}

.about-us .card{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.about-us .card h1, .about-us .fa-solid{
    color: #9792E4;
    font-size: 80px;
}

.about-us .about-us-img{
    position: relative;
}

.about-us-img .fa-solid{
    position: absolute;
    top: 10px;
    right: 28%;
}





/*---------------
    RESPONSIVE
-----------------*/

/* da 0 a 992px */
@media screen and (max-width: 992px){
    
    header .header-right {
        display: none;
    }
    
    header .menu-bars{
        display: block;
    }

    /* intro section */

    #intro-sctn .card{
        flex-direction: column;
    }

    #intro-sctn .card-img{
        align-self: flex-start;
        padding-left: 0px;
        padding-top: 30px;
    }

    /* planning section */
    #planning-sctn .col{
        width: 100%;
    }

    #planning-sctn .planning-left{
        padding-left: 30px;
        padding-right: 30px;
    }

    #planning-sctn .planning-right{
        margin: 0 40px ;
    }

    #planning-sctn .planning-left, .planning-right{
        align-items: center;
        justify-content: center;
    }

    #planning-sctn .planning-left-img{
        align-self: center;
    }

    #planning-sctn .planning-left{
        text-align: left;
    }


    #planning-sctn .planning-right{
        /* margin: 0 40px; */
    }

    #planning-sctn .planning-left h2{
        margin-top: 20px;
        font-size: 46px;
        align-self: baseline;
    }

    /* partner section */

    #partner-sctn .card img{
        height: 180px;
    }

    /* benefits section */

    #benefits-sctn .row .col{
        width: 50%;
    }
}

/* da 0 a 768px */
@media screen and (max-width: 768px){
    
    /* intro section */

    #intro-sctn .container-large .col{
        width: 100%;
    }

    #intro-sctn .grow .card-txt{
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;
    }

    #intro-sctn .grow .card-img {
        align-self: center;
        padding: 0;
    }

    /* planning section */

    #planning-sctn .col{
        width: 100%;
    }


    /* partner section */

    #partner-sctn .card{
        margin: 0 auto;
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 40px 0;
    }
    
    #partner-sctn .col-left, .col-right{
        width: 100%;
    }

    #partner-sctn .partner-title{
        width: 100%;
        margin: 0 auto;
    }

    /* benefits section */

    #benefits-sctn .row .col{
        width: 100%;
    }

    #benefits-sctn .row h1{
        text-align: center;
    }
    
}

