/*----------
    RESET
----------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------
    TYPOGRAPHY
-----------------*/
body{
    font-family: 'PT Sans', sans-serif;
}

/*-------------
    UTILITY
--------------*/
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;   
    margin-right: -10px;
}

.col{
    padding: 0 10px;
}

img{
    max-width: 100%;
}

.link{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 20px;
}

.link li > * {
    text-decoration: none;
    color: white;
}

.button{
    background-color: white;
    padding: 10px;
    color: black;
    border: none;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    font-family: inherit;
}

button:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.col{
    padding: 0 10px;
}

.grow{
    flex-grow: 1;
}

.card{
    height: 100%;
    border-radius: 18px;
    display: flex;
    padding: 25px 20px;
    line-height: 30px;
}


/*-------------
    HEADER
--------------*/

header{
    background-color: #0084FD;
    padding: 15px 0px;
    color: white;
}

header .row{
    justify-content: space-between;
}

.header-right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-bars{
    font-size: 2rem;
    display: none;
}


/*-------------------
    INTRO SECTION
---------------------*/

#intro-sctn{
    margin: 50px;
}


.intro .col{
    width: calc(100% / 3);
    margin-bottom: 20px;
}

.intro .card{
    background-color: #B5DDFF;
    
}

.intro .card-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: last baseline;
    gap: 30px;
    text-align: left;
    font-weight: bold;
    color: #5A6E7F;
}

.intro h3,.icon{
    color: #0084FD;
}

.intro .card-img{
    padding: 0 40px;
    padding-top: 30px;
    margin-bottom: -35px;
    align-self: flex-end;
}

.intro .button{
    background-color: #0084FD;
    color: white;
    padding: 15px 80px;
    font-weight: bold;
    font-size: 16px;
}

.intro .icon{
    font-size: 100px;
    color: #0084FD;
}

.intro .card:not(.direction-row){
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

/*-------------------
    PLANNING SECTION
---------------------*/
#planning-sctn{
    background-color: #9792E4;
    padding-top: 90px;
}

.planning .row{
    justify-content: center;
    align-items: end;
}

.planning .col {
    width: 30%;
}

.planning-left h2{
    margin-top: 50%;
}

.planning-left{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 30px;
    text-align: start;
}

.planning-right{
    display: flex;
    align-items: flex-end;
}

.planning-card{
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    text-align: center;
    gap: 12px;
}



.planning-btn{
    background-color: #9792E4;
    height: 40px;
    width: 40px;
    color: black;
    border-radius: 100px;
    text-align: center;
    line-height: 20px;
    padding: 10px;
}



/*---------------
    RESPONSIVE
-----------------*/
/* da 0 a 992px */
@media screen and (max-width: 992px){
    
    header .header-right {
        display: none;
    }
    
    header .menu-bars{
        display: block;
    }

    /* intro section */

    #intro-sctn .card{
        flex-direction: column;
    }

    #intro-sctn .card-img{
        max-width: 50%;
        align-self: flex-start;
        padding-left: 0px;
    }
}

/* da 0 a 768px */
@media screen and (max-width: 768px){
    
    /* intro section */

    #intro-sctn .container .col{
        width: 100%;
    }

    #intro-sctn .grow .card-txt{
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;
    }

    #intro-sctn .grow .card-img {
        align-self: center;
        padding: 0;
    }
}

